p, a, li, h1, h2 {
    font-family: sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
.nav {
    background-color: black;
    color: white;
    padding: 40px 15%;
}
.nav .name {
    font-weight: bold;
}
.nav .name img {
    margin-top: -14px;
    margin-bottom: -8px;
    margin-right: 4px;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: gray;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline;
    margin-right: 60px;
    font-size: 20px;
}
.header {
    background-image: url('cat-in-box.jpg');
    background-size: cover;
    background-position: 50% 30%;
    padding: 150px 15%;
    color: white;
    text-align: left;
}
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
}
.header p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}
.call-to-action {
    padding: 20px 30px;
    background-color: orange;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    border-radius: 10px;
    display: inline-block;
}
.call-to-action:hover {
    background-color: black;
}
.features {
    padding: 60px 15% 0px;
}
.feature {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    background-color: white;
    border: 2px solid orange;
    padding: 20px 40px;
    color: orange;
    margin-right: 50px;
    margin-bottom: 60px;
}
.feature h2 {
    font-size: 30px;
}
.feature p {
    font-size: 20px;
}
.footer {
    background-color: black;
    color: white;
    padding: 30px 15% 200px;
}