html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('/cat-in-box.jpg');
    background-size: cover;
    background-position: 50% 30%;
    padding: 150px 15%;
    color: white;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
}

.header p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.header a {
    background-color: orange;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
}

.header a:hover {
    background-color: black;
}
