html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('/cat-in-box.jpg');
    background-size: cover;
    background-position: 50% 30%;
    padding: 150px 15%;
    color: white;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
}

.header p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.header a {
    background-color: orange;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
}

.header a:hover {
    background-color: black;
}

.features {
    padding: 60px 15% 0px;
}

.feature {
    color: orange;
    border: 2px solid orange;
    width: 300px;
    display: inline-block;
    padding: 20px 40px;
    margin-right: 50px;
    margin-bottom: 60px;
    vertical-align: top;
}

.feature h2 {
    font-size: 30px;
}

.feature p {
    font-size: 20px;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px 15% 200px;
}

.nav {
    background-color: black;
    color: white;
    padding: 40px 15%;
}

.nav .name {
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: gray;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    margin-right: 60px;
}